/* ===============================
   MAIN CSS ENTRY POINT
   =============================== */
@import 'base/variables.css';
@import 'base/reset.css';

@import 'utils/animations.css';

@import 'components/buttons.css';
@import 'components/about.css';
@import 'components/services.css';
@import 'components/hero.css';
@import 'components/contact.css';
@import 'components/gallery.css';
@import 'components/fly-menu.css';

@import 'layout/header.css';
@import 'layout/footer.css';

@import 'pages/booking.css';